/*General Styles*/
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    background-color: #fbf7f1;
}

a {
  color: turquoise;
}

h1 {
    color: pink;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 0.1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.1em;
}

.clearfix {
  overflow: auto;
}

.button {
    padding: 1.05rem 2.75rem;
    color: pink;
    background-color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12rem;
    font-size: 1em;
    border: .2rem solid pink;
    -webkit-transition: color .3s,border .3s;
    transition: color .3s,border .3s;
}

a:-webkit-any-link {
    text-decoration: none!important;
}

/*Nav Styles*/
.header {
    background-color: rgba(255,255,255,1);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
}

.logo {
    padding: 10px;
    float: left;
}

.logo img {
    width: 150px;
}

.navigation {
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    letter-spacing: 0.1em;
}

.navigation a {
    color: pink;
    text-decoration: none;
    font-size: 1.3em;
}

.nav-link:hover {
    color: deeppink;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation .icon {
    display: none;
}

li {
    float: left;
}

li a {
    padding: 14px 16px;
    color: 
}

ul {
    -webkit-padding-start: 0px;
}

/*Masthead Styles*/
#masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    /*background-image: url('background2.jpg');*/
    background-image: url('cupcakes.jpg');
    background-size: cover;
    display: flex;
}

.h1-box {
    background-color: white;
    border: 8px dashed pink;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Menu Styles*/
#menu {
    color: #696969;
    background-image: url('background2.png'), linear-gradient(to left,#FFC0CB,#FFF0F5);
    background-repeat: repeat;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 8px dashed pink;
}

.menu-box {
    background-color: white;
    width: 50%;
    min-width: 400px;
    padding: 10px;
    margin: 35px 0px;
}

.menu-list {
    line-height: 2em;
}

.menu-items {
    list-style: none;
    line-height: 2em;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center!important; 
}

.grey {
    color: #696969;
}

/*About Styles*/
#about {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.about-contact {
    text-align: center;
}

.about-col {
    width: 50%;
    display: inline;
    font-size: 1.3em;
}

/*Visit Styles*/
#visit {
    width: 100%;
    border-bottom: 8px dashed pink;
}

/*Google Map Styles*/
.map-frame {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
}

.map-content {
    z-index: 10;
    position: absolute;
    float: right;
    left: 200px;
    top: 50px;
    padding: 10px;
    width: auto;
    background-color: rgba(255,255,255,0.8);
}

.location {
    font-size: 36px;
}

/*Contact Styles*/

input {
    width: 300px;
}

textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
}

fieldset {
    border: 0px;
    width: 300px;
}

.form-field-sets {
    width: 300px;
}

#contact {
    color: #696969;
    background-color: lavenderblush;
    background-image: url('background2.jpg');
    background-position: center;
    background-size: cover;
    /*background-image: url('background2.png'), linear-gradient(to left,#FFC0CB,#FFF0F5);*/
    background-repeat: repeat;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyright {
    text-align: center;
}

/*Footer Styles*/
#footer {
    color: pink;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width:320px) and (max-width:640px) {
    #masthead {
        background-size: contain;
        background-image: url('logo.png');
    }

    body {
        color: red !important;
    }

    .navigation a {display: none;}
    .navigation a.icon {
        float: right;
        border: 1px solid red;
        display: inline-block;
        clear: both;
    }

    .h1-box {
        width: 100%;
    }

    .about-col {
        min-width: 90%;
    }
}