/*General Styles*/
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow-x: hidden;*/
    /*Overflow-x is breaking scroll script.js*/
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    background-color: #fbf7f1;
}

a {
  color: turquoise;
}

h1 {
    color: white;
    /*color: pink*/
    text-transform: uppercase;
    /*font-size: 4em;*/
    font-size: 4em;
    letter-spacing: 0.1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.1em;
}

.clearfix {
  overflow: auto;
}

.button {
    padding: 1.05rem 2.75rem;
    background-color: white;
    color: pink;
    border: .2rem solid pink;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12rem;
    font-size: 1em;
    -webkit-transition: color .3s,border .3s;
    transition: color .3s,border .3s;
}

.button:hover {
    background-color: white;
    color: deeppink;
    border: .2rem solid deeppink;
}

a:-webkit-any-link {
    text-decoration: none!important;
}

/*Nav Styles*/
.header {
    background-color: rgba(255,255,255,1);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
}

.logo {
    padding: 10px;
    float: left;
}

.logo img {
    width: 150px;
}

.navigation {
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    letter-spacing: 0.1em;
    height: 60px;
}

.navigation a {
    color: pink;
    text-decoration: none;
    font-size: 1.3em;
}

.nav-link {
    float: left;
    clear: both;
}

.nav-link:hover {
    color: deeppink;
    -webkit-transition: color .3s,border .3s;
}

/* Hide the link that should open and close the topnav on small screens */
.navigation .icon {
    display: none;
    color: pink;
}

li {
    float: left;
}

li a {
    padding: 14px 16px;
}

ul {
    -webkit-padding-start: 0px;
}

/*Masthead Styles*/
#masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    /*background-image: url('background2.jpg');*/
    /*background-image: url('cupcakes.jpg');*/
    /*background-image: url('test-bg.jpg');*/
    background-image: url('cakes.jpg');
    background-size: cover;
    display: flex;
}

.h1-box {
    /*background-color: white;*/
    border: 8px dashed pink;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Menu Styles*/
#menu {
    color: #696969;
    /*background-image: url('background2.png'), linear-gradient(to left,#FFC0CB,#FFF0F5);
    background-repeat: repeat;*/
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border-bottom: 8px dashed pink;*/
}

.menu-box {
    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 35px 0px;
}

.menu-list {
    line-height: 2em;
}

.menu-items {
    list-style: none;
    line-height: 2em;
    font-size: 1.3em;
    margin: auto 0;
    text-align: center!important; 
}

#desserts {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0;
    font-size: 0;
    width: 100%;
}

.desserts-container {
    min-width: 100%;
}

.desserts-gallery {
    width: 25%;
    padding: 0px;
    margin: 0px;
    color: blue;
}

.test {
    min-width: 100%;
}

.grey {
    color: #696969;
}

/*About Styles*/
#about {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    background-color: #fbf7f1;
}

.about-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-contact {
    text-align: center;
    font-weight: 700;
}

.about-col {
    width: 50%;
    display: inline;
    font-size: 1.3em;
}

.justify {
    text-align: justify;
}

/*Visit Styles*/
#visit {
    width: 100%;
    /*border-bottom: 8px dashed pink;*/
}

/*Google Map Styles*/
.map-frame {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
}

.map-content {
    z-index: 10;
    position: absolute;
    float: right;
    left: 200px;
    top: 50px;
    padding: 10px;
    width: auto;
    background-color: rgba(255,255,255,0.8);
}

.location {
    font-size: 36px;
}

/*Contact Styles*/

input {
    width: 300px;
}

.form-input {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}

.form-input {
    outline:none;
    border:1px solid pink;
}

textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
}

fieldset {
    border: 0px;
    width: 300px;
}

#form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#contact {
    color: #696969;
    background-color: paleturquoise;
    background-image: url('background2.jpg');
    background-position: center;
    background-size: cover;
    /*background-image: url('background2.png'), linear-gradient(to left,#FFC0CB,#FFF0F5);*/
    background-repeat: repeat;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-box {
    border: 8px dashed pink;
}

.contact-msg {
    font-size: 1.3em;
}

.copyright {
    text-align: center;
    padding-bottom: 10px;
}


/*Footer Styles*/
#footer {
    color: pink;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width:630px) {
    #masthead {

    }

    .logo img {
        display: none;
    }

    .navigation a {
        display: none;
    }

    .navigation a.icon {
        float: right;
        display: inline-block;
        clear: both;
    }

    .about-col {
        width: 80%;
    }

    .menu-box {
        width: 85%;
    }

    .menu-list {
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media screen and (max-width:800px) {
    .desserts-gallery {
        width: 50%;
    }
}

@media screen and (max-width:360px) {
    input {
        width: 250px;
    }

    textarea {
        width: 250px !important;
    }
}

/*Nav styles*/

.header .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .header a:not(:first-child) {display: none;}
    .header a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 630px) {
    .header.responsive {
        /*position: relative;*/
        background-color: white;
    }

    .header.responsive .icon {
        position: absolute;
    }
    .header.responsive a {
        display: block;
        width: 100%;
        text-align: left;
        height: 50px;
        float:left;
        clear:left
    }

    .navigation {
        float: none;
        overflow: visible;
        display: block;
        height: 380px;

    }

    li {
        background: white;
    }

    .li-nav {
        width: 100% !important;
    }
}

