body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    background-color: #fbf7f1;
}

a {
  color: #e81c4f;
}

h1 {
    color: pink;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 0.1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    text-align: center;
}

.logo {
    padding: 10px;
}

.logo img {
    width: 150px;
}

.h-100 {
   
}

.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    background-image: url('background2.jpg');
    background-size: cover;
    display: flex;
}

.header {
    background-color: rgba(255,255,255,0.7);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.h1-box {
    background-color: white;
    border: 8px dashed pink;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    color: purple;
    background-image: url('background2.png'), linear-gradient(to left,#FFC0CB,#FFF0F5);
    background-repeat: repeat;
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-items {
    list-style: none;
    line-height: 2em;
    font-size: 1em;
}

#about {
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-col {
    width: 50%;
    display: inline;
}

#visit {
    width: 100%;
}

.map-frame {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
}

.map-content {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px;
    width: auto;
    background-color: rgba(255,255,255,0.8);
}

.location {
    font-size: 36px;
}

#contact {
    background-color: lavenderblush;
    background-image: url('background2.png'), linear-gradient(to left,#FFC0CB,#FFF0F5);
    background-repeat: repeat;
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyright {
    text-align: center;
}

#footer {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}